<!--<spinner [busy]="isSpinnerLoading" message="verifying user...">-->
<div class="container-fluid">
    <h1>User Login</h1>
    <form [formGroup]="verifyUserFormGrp" (ngSubmit)="verifyUser()">
        <div class="row">
            <div class="col-centered col-lg-3">
                <input id="userid" type="text" formControlName="userid" [(ngModel)]="voiceitUser.userId" class="form-control form-control-lg"
                    placeholder="User ID">
                <div *ngIf="getUserId.touched && getUserId.invalid" class="alert alert-danger">
                    <div *ngIf="getUserId.errors.required">User ID is required</div>
                    <div *ngIf="getUserId.errors.minlength">User ID should be minimum {{getUserId.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="getUserId.errors.pattern">User ID can contain only alpha numeric characters [a-zA-Z0-9]</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-centered col-lg-3">
                <input id="password" type="password" formControlName="password" [(ngModel)]="voiceitUser.password" class="form-control form-control-lg"
                    placeholder="Password">
                <div *ngIf="getPassword.touched && getPassword.invalid" class="alert alert-danger">
                    <div *ngIf="getPassword.errors.required">Password is required</div>
                    <div *ngIf="getPassword.errors.minlength">Password should be minimum {{getPassword.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="getPassword.errors.pattern">
                        <div>
                            Password should contain atleast one special character and number
                        </div>
                        <div>
                            Password should not start with special character or number
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="back" type="button" class="btn btn-lg" (click)="reset()">Reset</button>
        <button id="submitBtn" type="submit" class="btn btn-success btn-lg" [disabled]="!verifyUserFormGrp.valid">Continue</button>
        <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius:
        '10px', primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>
    </form>
</div>
<!--</spinner>-->
