<!--<div *ngIf="userId !=='' && isUserVerified !== 'false'; else accessError" style="text-align:center"> -->
<spinner [busy]="isSpinnerLoading" message="authenticating user...">
  <div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-centered col-lg-3">
      <h1>Voice Authentication</h1>
    </div>   
    <div class="pull-right col-lg-3">
        <button class="btn-lg btn-primary" (click)="goToEnrollment()">Enroll Your Voice</button>
    </div>
  </div>
  <p>Make sure you are using a recent version of Google Chrome</p>
  <p>Click on Record button and tell the voice phrase that you have used for enrollment</p>
  <p>Then click on Stop button to authenticate using your voice</p>
  <!--
<div id="viz">
  <canvas #analyser width="100" height="100"></canvas>
  <canvas id="wavedisplay" width="100" height="100"></canvas>
</div>
-->
  <button class="btn-lg btn-success" (click)="startRecording();" [disabled]="isRecording">Record</button>
  <button class="btn-lg btn-danger" (click)="stopRecording();" [disabled]="!(isRecording)">Stop</button>
  <div *ngIf="AUTH_SAMPLES.length > 0">
    <h2>Authentication Voice Samples</h2>
    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Auth Sample</th>
          <th scope="col">Auth Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auth of AUTH_SAMPLES; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td>
            <audio controls [src]="auth.wavObjUrl | goSafe" type="audio/wav"></audio>
          </td>
          <td>{{auth.status}}</td>
          <td>
            <button title="Authenticate using this voice sample" (click)="authenticateVoiceSample(auth)">Authenticate</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</spinner>
<ng-template #accessError>
  <h3>Hi ! It seems you have not verified the userId</h3>
  <div id="options" class="grid grid-pad">
    <a class="col-1-4" routerLink="/user/verify">
      <div class="module">
        <h4>Verify User</h4>
      </div>
    </a>
  </div>
</ng-template>