body {
  background-color: white;
}

#main-container {
  padding:2em;
}

.container {
    display:flex;
    flex-direction: row;
    padding:1em;
    background-color: white;
}

#list-container {
  padding: 3em;
  background-color: white;
  border: 2px dotted;
}

.button {
  display:block;
  margin-top:1em;
  margin-bottom:1em;
}